---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
---

<Layout title="CIPO | Eatery & Wine">
  <main class="container grid-lg text-center">
    <section class="frontpage">
      <div class="title">
        <img src="/cipo_logo.png" alt="CIPO logo" width="300" />
      </div>

      <div class="content">
        <p>
          Cipo Eatery and Wine is your local spot in Copenhagen. Our aim with
          Cipo is to create a welcoming dining experience where informal tones
          and quality are the focus. Food and wine are our great passion, and it
          always has been.
        </p>

        <p>
          Our menu and wine list changes regularly, but <span
            ><a href="/menu"
              >here is an example of what the menu might look like</a
            ></span
          > and <a href="/CIPO-Winelist.pdf" target="_blank">here is an example of our wine list</a
          >.
        </p>
      </div>

      <div class="content-small">
        <a
          href="https://cipo.superbexperience.com"
          class="btn btn-lg btn-primary"
          target="_blank">Book a table</a
        >
      </div>

      <div class="content-small">
        <p>
          We would be happy to host your next event. Whether it's a birthday, a
          company event, a team day, or a private dinner, CIPO has the right
          atmosphere.
          <span>
            If you are interested in hosting a wine tasting, we have the
            opportunity to host a tailored event that suits your preferences and
            level.
          </span>
          <br />
          <span>
            Visit our <a
              href="https://www.instagram.com/cipo.cph"
              target="_blank">Instagram</a
            > for inspiration
          </span>
        </p>

        <p>For more information <a href="/info">see the info page.</a></p>
      </div>

      <div class="content-small">
        <a
          href="https://cipo.superbexperience.com"
          class="btn btn-lg btn-primary"
          target="_blank">Get a giftcard</a
        >
      </div>
    </section>

    <section class="content gallery">
      <div class="columns">
        <div class="column col-md-12">
          <!-- <img src="/images/Cipo-cheese.jpg" alt="" class="img-responsive" /> -->
          <Image
            src="/images/Cipo-cheese.jpg"
            alt="Cipo cheese"
            width={1400}
            height={950}
            class="img-responsive"
          />
        </div>
        <div class="column col-md-12">
          <!-- <img src="/images/Cipo-consomme.jpg" alt="" class="img-responsive" /> -->
          <Image
            src="/images/Cipo-consomme.jpg"
            alt="Cipo consomme"
            width={1400}
            height={950}
            class="img-responsive"
          />
        </div>
        <div class="column col-md-12">
          <!-- <img src="/images/Cipo-tatar.jpg" alt="" class="img-responsive" /> -->
          <Image
            src="/images/Cipo-tatar.jpg"
            alt="Cipo tatar"
            width={1400}
            height={950}
            class="img-responsive"
          />
        </div>
      </div>

      <div class="columns hide-md">
        <div class="column col-md-12">
          <!-- <img src="/images/Cipo-bar.jpg" alt="" class="img-responsive" /> -->
          <Image
            src="/images/Cipo-bar.jpg"
            alt="Cipo bar"
            width={1400}
            height={950}
            class="img-responsive"
          />
        </div>
        <div class="column col-md-12">
          <!-- <img src="/images/Cipo-1st-floor.jpg" alt="" class="img-responsive" /> -->
          <Image
            src="/images/Cipo-1st-floor.jpg"
            alt="Cipo 1st floor"
            width={1400}
            height={950}
            class="img-responsive"
          />
        </div>
        <div class="column col-md-12">
          <!-- <img src="/images/Cipo-wine-room.jpg" alt="" class="img-responsive" /> -->
          <Image
            src="/images/Cipo-wine-room.jpg"
            alt="Cipo wine room"
            width={1400}
            height={950}
            class="img-responsive"
          />
        </div>
      </div>
    </section>

    <section>
      <div class="content">
        <p>
          <span><b>Opening hours</b></span>
          <span>Wednessday-Friday 15.00-00.00</span>
          <span>Saturday 12.00-00.00</span>
        </p>
      </div>

      <div class="content-small">
        <a
          href="https://cipo.superbexperience.com"
          class="btn btn-lg btn-primary"
          target="_blank">Book a table</a
        >
      </div>
    </section>
  </main>
</Layout>

<style>
  p {
    font-size: 1rem;
  }

  span {
    display: block;
  }

  .title {
    margin-top: 6rem;
  }

  .content {
    margin-top: 4rem;
  }

  .content-small {
    margin-top: 2rem;
  }

  .columns {
    margin-bottom: 0.8rem;
  }

  @media only screen and (max-width: 840px) {
    .column {
      margin-bottom: 0.5rem;
    }

    .title {
      margin-top: 2rem;
    }
  }
</style>
