---
import Layout from "../layouts/Layout.astro";
// import { Image } from "@astrojs/image/components";
---

<Layout title="Cipo | Wine bar & Food">
  <main class="container grid-lg text-center">
    <section class="frontpage">
      <div class="title">
        <!-- <Image src="/images/Cipo-logo.png" alt="Cipo logo" /> -->
        <!-- <br /> -->

        <h1>Cipo</h1>
        <h2>Restaurant & Wine bar</h2>
      </div>

      <div class="content">
        <p>
          Restaurant and natural wine bar | see our <a href="/menu">menu</a>
          <span
            >Add some text <a href="/menu">here</a> so we can get that SEO shimmer
            :heart:</span
          >
        </p>
      </div>

      <div class="content">
        <p>
          Parties and other inquiries? | write us on <a
            href="mailto:info@cipo.dk">info@cipo.dk</a
          >
          <span
            ><small>Visit our <a href="/">Instagram</a> for inspiration</small
            ></span
          >
        </p>
      </div>

      <div class="content">
        <a href="/" class="btn btn-lg btn-primary">Book a table</a>
      </div>
    </section>

    <section class="content-small gallery">
      <div class="columns">
        <div class="column col-md-12">
          <img
            src="/images/900x600.jpg"
            alt=""
            class="img-responsive"
          />
        </div>
        <div class="column col-md-12">
          <img
            src="/images/900x600.jpg"
            alt=""
            class="img-responsive"
          />
        </div>
        <div class="column col-md-12">
          <img
            src="/images/900x600.jpg"
            alt=""
            class="img-responsive"
          />
        </div>
      </div>

      <div class="columns">
        <div class="column col-md-12">
          <img
            src="/images/900x600.jpg"
            alt=""
            class="img-responsive"
          />
        </div>
        <div class="column col-md-12">
          <img
            src="/images/900x600.jpg"
            alt=""
            class="img-responsive"
          />
        </div>
        <div class="column col-md-12">
          <img
            src="/images/900x600.jpg"
            alt=""
            class="img-responsive"
          />
        </div>
      </div>
    </section>

    <section>
      <div class="content">
        <p>
          <span><b>Opening hours</b></span>
          <span>Wednessday-Friday 15.00-00.00</span>
          <span>Saturday 12.00-00.00</span>
        </p>
      </div>

      <div class="content-small">
        <a href="/" class="btn btn-lg btn-primary">Book a table</a>
      </div>

      <div class="content-small">
        <p>
          <span><b>CIPO</b></span>
          <span>Gammel Mønt 33</span>
          <span>1117 København K</span>
        </p>
      </div>
    </section>
  </main>

  <footer class="text-center">
    <div class="content-small">
      <p>
        <span><a href="mailto:info@cipo.dk">info@cipo.dk</a></span>
        <span><a href="tel:+4512435687">+4512435687</a></span>
      </p>
    </div>
  </footer>
</Layout>

<style>
  p {
    font-size: 1rem;
  }

  span {
    display: block;
  }

  .frontpage {
    min-height: 100vh;
  }

  .title {
    margin-top: 6rem;
  }

  .content {
    margin-top: 4rem;
  }

  .content-small {
    margin-top: 2rem;
  }

  .gallery {
    margin-top: -2rem;
  }

  .columns {
    margin-bottom: 0.8rem;
  }

  @media (max-width: 840px) {
    .columns {
      margin: auto 1rem;
    }

    .column {
      margin-bottom: 1rem;
    }

    .frontpage {
      margin-top: -4rem;
    }
  }
</style>
