---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CIPO | Info">
  <main class="container grid-lg">
    <div class="title text-center">
      <a href="/"
        ><img
          src="/cipo_logo.png"
          alt="CIPO logo"
          width="300"
          height="128"
        /></a
      >
    </div>

    <div class="content">
      <h1 class="content-heading">Food</h1>

      <p>
        Here you can find everything from small shareable snacks to larger
        dishes and our 4-course menu. The menu follows the seasons and you can
        always find greens and fish on the menu. We prefer to use Danish, local,
        and organic ingredients, but we do not limit ourselves to a set of rules
        as taste and quality are always our top priorities.
      </p>
    </div>

    <div class="content-small">
      <h1 class="content-heading">Wine</h1>

      <p>
        Our wine collection consists of natural wines and we strive to have a
        wide selection so that there is something for every taste. Our wines,
        therefore, have classic, untamed, and innovative flavors, all with their
        own story to tell. We choose our wines with care and attention: we
        prefer organic, biodynamic wines, and as low-intervention as possible.
      </p>

      <p>
        Let yourself be inspired by our wine cellar, which consists of several
        years of a unique collection. <a
          href="/cipo-winelist.pdf"
          target="_blank">See our wines here.</a
        >
      </p>
    </div>

    <div class="content-small">
      <h1 class="content-heading">Drinks</h1>

      <p>
        We have a selection of homemade refreshing cocktails. Our bartenders
        enjoy fermenting and experimenting with new flavor combinations - try
        our mezcal and umeshu negroni for example!
      </p>
    </div>

    <div class="content-small">
      <h1 class="content-heading">Capacity</h1>

      <p>
        Our building consists of three floors with space for 44 guests and 12
        seats outside.
      </p>

      <p>
        At the bottom of the house, you will find our most rustic room, with
        space for 10 people around a big table - the ideal place for an intimate
        wine tasting, if you ask us.
      </p>

      <p>
        On the first floor, we have small café tables that are suitable for
        smaller gatherings or drop-ins. Here is space for 14 guests.
      </p>

      <p>
        At the top of the first floor, we have an open kitchen which makes it
        possible to follow the chef closely. Here is space for 20 guests.
      </p>
    </div>

    <div class="content-small">
      <h1 class="content-heading">Private events & tasting</h1>

      <p>
        We would be happy to host your next event. Whether it's a birthday, a
        company event, a team day, or a private dinner, Cipo has the right
        atmosphere.
      </p>

      <p>
        If you are interested in hosting a wine tasting, we have the opportunity
        to host a tailored event that suits your preferences and level.
      </p>
    </div>
  </main>
</Layout>

<style>
  .content-heading {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
  }

  span {
    display: block;
  }

  .title {
    margin-top: 6rem;
  }

  .content {
    margin-top: 4rem;
  }

  .content-small {
    margin-top: 2rem;
  }
</style>
