---
export interface Props {
  item: string;
  price: string;
}

const { item, price } = Astro.props;
---

<div class="columns pb-2">
  <div class="column col-12 text-center"><p>{item} {price},-</p></div>
</div>

<style>
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
  }
</style>
