---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="columns">
  <div class="column col-12 text-center"><p>{title}</p></div>
</div>

<style>
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bolder;
  }
</style>
