<nav class="container">
  <ul>
    <li>
      <a href="/"><img src="/logo.png" alt="Hej-hej logo" /></a>
    </li>
  </ul>
  <ul>
    <li><a href="#">Reserver bord</a></li>
    <li>
      <a href="https://facebook.com" target="_blank">
        <img src="/facebook.svg" alt="Facebook icon" />
      </a>
    </li>
    <li>
      <a href="https://instagram.com" target="_blank">
        <img src="/instagram.svg" alt="Instagram icon" />
      </a>
    </li>
  </ul>
</nav>

<style>
  img {
    width: 70%;
  }
</style>