---
import "normalize.css";
import "spectre.css";
import "@fontsource/montserrat";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-R7WNPTTJ00"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-R7WNPTTJ00");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="CIPO | Eatery & Wine where you can enjoy exceptional natural wine and new nordic inpsired food with local ingredients"
    />

    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffecd2" />
    <meta name="msapplication-TileColor" content="#ffecd2" />
    <meta name="theme-color" content="#ffecd2" />

    <title>{title}</title>
  </head>
  <body>
    <slot />

    <footer class="text-center">
      <div class="content-small">
        <p>
          QUESTIONS
          <span
            >If you have any questions regarding a booking, please email
            <a href="mailto:booking@cipo.dk">booking@cipo.dk.</a></span
          >
          <span
            >For further questions, please contact us at
            <a href="mailto:info-cipo@cipo.dk">info-cipo@cipo.dk.</a></span
          >
        </p>
      </div>

      <div class="content-small">
        <p>
          <span><b>CIPO</b></span>
          <span>Gammel Mønt 33</span>
          <span>1117 København K</span>
        </p>
      </div>

      <div class="content-small">
        <p>
          <span><a href="tel:+4530868989" class="mb-2">+45 30 86 89 89</a></span
          >
          <span class="mt-2">CVR 36 70 85 14</span>
        </p>
      </div>
    </footer>
  </body>
</html>

<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    color: #2f4f4f;
    line-height: 1.5;
  }

  body {
    background: #ffecd2; /* fallback for old browsers */

    background: linear-gradient(
      to right,
      #ffecd2 0%,
      #fcb69f 100%
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  p {
    font-size: 1rem;
  }

  span {
    display: block;
  }

  .content-small {
    margin-top: 2rem;
  }
</style>
